/*fix the size and color of the heading*/
.heading_top{
    width: 100%;
    background-color: black;
}

/*fix the size all of the heading content*/
.top_content{
    width: 1200px;
    margin: 0 auto;
    padding: 8px 10px;
    overflow: hidden;
}

/*set the size of heading's left side*/
.content_left{
    float: left;
    font-weight: bold;
}

/*fix the size of heading's icon*/
.amazon_icon{
    width: auto;
    height: 32px;
}

/*remove the underlines from all links*/
a {
    text-decoration: none;
    color: inherit;
}

/*heading of the deliver*/
.heading_deliver {
    float: left;
    padding: 6px 10px;
    margin-left: 6px;
    border: 1px solid transparent;
}

/*style of line 1*/
.deliver_line1 {
    color: white;
    display: block;
    font-size: 11px;
    line-height: 13px;
}

/*style of line 2*/
.deliver_line2 {
    color: white;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}

/*style of the searching box*/
.search_box {
    float: left;
    margin: 6px 0 6px 10px;
    height: 36px;
    overflow: hidden; 
}

/*fix the type of the searching part*/
.search_type {
    float: left;
    width: 60px;
    height: 36px;
    border: none;
    background-color:antiquewhite;
    color: black;
    padding: 0 6px;
    font-size: 13px;
}

/*style of the input by search*/
.search_input {
    float: left;
    width: 600px;
    height: 36px;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

/*style of the searching button*/
.search_btn {
    float: left;
    width: 45px;
    height: 36px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-size: 16px;
}

/*style of the searching box*/
.search_box {
    float: left;
    margin: 6px 0 6px 10px;
    height: 36px;
    overflow: hidden; 
}

/*fix the type of the searching part*/
.search_type {
    float: left;
    width: 60px;
    height: 36px;
    border: none;
    background-color:antiquewhite;
    color: black;
    padding: 0 6px;
    font-size: 13px;
}

/*style of the input by search*/
.search_input {
    float: left;
    width: 600px;
    height: 36px;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

/*style of the searching button*/
.search_btn {
    float: left;
    width: 45px;
    height: 36px;
    border: none;
    background-color: orange;
    cursor: pointer;
    font-size: 16px;
}

/*fix the size of the lanuage box*/
.lanuage_box{
    float: right;
    margin: 6px 0 6px 10px;
    height: 36px;
    overflow: hidden; 
}

/*change the color of the lanuage option*/
.lanuage_type {
    float: left;
    width: 60px;
    height: 36px;
    border: none;
    background-color: black;
    color: white;
    padding: 0 6px;
    font-size: 13px;
}

/*set the size of heading's right side*/
.content_right{
    float: right;
}

/*set the color and size of the content item by heading*/
.content_item {
    color: white;
    display: inline-block;
    padding: 6px 10px;
    margin-left: 6px;
    border: 1px solid transparent;
    vertical-align: top;
}

/*set the color and size of the upper content item by heading*/
.item1{
    display: block;
    font-size: 11px;
    color: white;
    line-height: 13px;
}

/*set the color and size of the lower content item by heading*/
.item2 {
    display: block; 
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 20px;
}
